@{
    ViewData["Title"] = "EmpleadosAlmacenadosSession";

    //los empleados vienen de session
    List<Empleado> empleados = Context.Session.GetObject<List<Empleado>>("EMPLEADOS");
}

<h1>Empleados Almacenados Session</h1>

<p>
    <a asp-controller="Empleados" asp-action="SessionEmpleados">Volver a almacenar empleados
    </a>
</p>
@if(empleados == null){
    <h2>NO hay empleados en session</h2>
}else {
    <table class="table">
        <thead>
            <tr>
                <th>
                    Apellido
                </th>
                <th>
                    Oficio
                </th>
                <th>
                    Salario
                </th>
                <th>
                    IdDepartamento
                </th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
    @foreach (Empleado emp in empleados) {
            <tr>

                <td>
                    @emp.Apellido
                </td>
                <td>
                    @emp.Oficio
                </td>
                <td>
                    @emp.Salario
                </td>
                <td>
                    @emp.IdDepartamento
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
    }
        </tbody>
    </table>
}
